<br/><br/><br/>
<div class="buttondisplay">&nbsp;&nbsp;&nbsp;
<button type="submit" class="btn btn-primary" (click)="view()">View Users</button><br/><br/>
<button type="submit" class="btn btn-primary" (click)="add()">Add Users</button><br/><br/>
<button type="submit" class="btn btn-primary" (click)="update()">Update Users</button><br/><br/>
<button type="submit" class="btn btn-primary" (click)="delete()">Delete Users</button><br/><br/>
</div>
<br/><br/>
  <table class="table table-striped" *ngIf="showusers">
    <thead class="thead-dark">
      <tr>
        <th scope="col">User Id</th>
        <th scope="col">User Name</th>
        <th scope="col">User Password</th>
        <th scope="col">User Role</th>
        <th scope="col">Is User Logged In?</th>
      </tr>
    </thead>
    <tbody >
        <tr *ngFor="let user of users">
          <td> {{user.userid}}</td>
          <td> {{user.username}}</td>
          <td> {{user.userpassword}}</td>
          <td> {{user.userrole}}</td>
          <td> {{user.islogin}}</td>
      </tr>
    </tbody>
  </table>

<div class="add" *ngIf="addusers">
  <div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">UserId</span>
  <input type="number" [(ngModel)]="newuser.userid" class="form-control" placeholder="Enter UserId" aria-label="UserId" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">UserName</span>
  <input type="text" class="form-control" [(ngModel)]="newuser.username" placeholder="Enter Username" aria-label="Username" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">User password</span>
  <input type="text" class="form-control" [(ngModel)]="newuser.userpassword" placeholder="Enter Userpassword" aria-label="Userpassword" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Is Login?</span>
  <input type="number" class="form-control" [(ngModel)]="newuser.islogin" placeholder="Enter 0 initially (means user not logged in)" aria-label="Userlogin" aria-describedby="basic-addon1">
</div>
<button id ="submit" type="submit" class="btn btn-primary" (click)="submit()">Add</button>
  </div>





  <div class="update" *ngIf="updateusers">
    <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">UserId</span>
    <input type="number" [(ngModel)]="newuser.userid" class="form-control" placeholder="Enter UserId you wish to update" aria-label="UserId" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">UserName</span>
    <input type="text" class="form-control" [(ngModel)]="newuser.username" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">User password</span>
    <input type="text" class="form-control" [(ngModel)]="newuser.userpassword" placeholder="Userpassword" aria-label="Userpassword" aria-describedby="basic-addon1">
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Is Login?</span>
    <input type="number" class="form-control" [(ngModel)]="newuser.islogin" placeholder="0/1" aria-label="Userlogin" aria-describedby="basic-addon1">
  </div>
  <button id="submit" type="submit" class="btn btn-primary" (click)="submit()">Update</button>
    </div>




  <div class="delete "*ngIf="deleteusers">
    <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">UserId</span>
    <input type="number" [(ngModel)]="newuser.userid" class="form-control" placeholder="Enter UserId you wish to delete" aria-label="UserId" aria-describedby="basic-addon1">
  </div>
  <button id="submit" type="submit" class="btn btn-primary" (click)="submit()">Delete</button>
    </div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
