<br/><br/><br/>
<div class="sample">
<button type="submit" id="viewbills" class="btn btn-primary" (click)="viewbills()" >View Bills Today</button>
<select class="form-select" [(ngModel)]="totalbill.month" aria-label="Default select example">
  <option value="1">January</option>
  <option value="2">February</option>
  <option value="3">March</option>
  <option value="4">April</option>
  <option value="5">May</option>
  <option value="6">June</option>
  <option value="7">July</option>
  <option value="8">August</option>
  <option value="9">September</option>
  <option value="10">October</option>
  <option value="11">November</option>
  <option value="12">December</option>
</select>
<button type="submit" class="btn btn-primary" (click)="getsale()">Get total sale for the month</button><br/><br/>
<button id="crud" type="submit" class="btn btn-primary" (click)="performcrud()">Perform Crud</button>
</div>

<div *ngIf="show">
  <br/>
<h1>The bills generated today are displayed</h1><br/><br/>
<table class="table table-striped" *ngIf="show">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Bill Id</th>
      <th scope="col">User name</th>
      <th scope="col">Bill amount</th>
      <th scope="col">Day</th>
      <th scope="col">Month</th>
      <th scope="col">Year</th>
    </tr>
  </thead>
  <tbody >
      <tr *ngFor="let bill of bills">
        <td> {{bill.id}}</td>
          <td> {{bill.username}}</td>
            <td> {{bill.amount}}</td>
              <td> {{bill.day}}</td>
                <td> {{bill.month}}</td>
                  <td> {{bill.year}}</td>
    </tr>
  </tbody>
</table>
</div>
<div *ngIf="sales">
  <br/><br/>
<h1>The total bill for the month = INR {{totalbill.totalbill}} </h1><br/><br/>
  <h1>The bills for the selected month are displayed below</h1>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Bill Id</th>
      <th scope="col">User name</th>
      <th scope="col">Bill amount</th>
      <th scope="col">Day</th>
      <th scope="col">Month</th>
      <th scope="col">Year</th>
    </tr>
  </thead>
  <tbody >
      <tr *ngFor="let bill of bills">
        <td> {{bill.id}}</td>
          <td> {{bill.username}}</td>
            <td> {{bill.amount}}</td>
              <td> {{bill.day}}</td>
                <td> {{bill.month}}</td>
                  <td> {{bill.year}}</td>
    </tr>
  </tbody>
</table><br/><br/>
<h1 *ngIf="sales">Adding all the bill amount would sum up to {{totalbill.totalbill}}</h1>
</div>
