<div class="container center_div">
  <br/><br/><br/><h1>Welcome to Admin Panel..!</h1><br/><br/><br/><br/>
 <div class="form-group">
    <label for="exampleInputEmail1">UserName</label>
    <input type="text" required [(ngModel)]="user.username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Username">
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="text" required [(ngModel)]="user.userpassword" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
  </div><br/>
  <button type="submit" class="btn btn-primary" (click)="checklogin()">Submit</button>
</div>
